.kbtable {
  font-family: sans-serif, arial;
  border-collapse: collapse;
  width: 100%;
  font-size:10px;
}

.kbtable td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.kbtable tr:nth-child(even) {
  background-color: #b2d8ff;;
}

.search-overlay {
  top: 45px;
  left: 50px;
  position: absolute;
  background-color: aliceblue;
  z-index: 12000;
  min-width: 200px;
  border-radius: 7px;
}

.float-left {
  float: left;
}

.float-right {
  float:right;
}

.search-overlay .search-container {
  float: left;
}

search-overlay .search-container input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 17px;
}

.search-overlay .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-overlay .search-container button:hover {
  background: #ccc;
}

.search-overlay .search-container input[type=text]:focus {
  box-shadow: 0 0 7px rgba(81, 203, 238, 1);

/*
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
*/
}

.optional {
  display: none;
}

.search-overlay .search-results {
  position: absolute;
  top: 100%;
  width: 125%;
  background-color: inherit;
  border-radius: inherit;
}

.search-overlay .search-result {
  background-color: #eee;
  border-radius: inherit;
  padding: 5px 2px;
  margin: 5px 2px;
}
.search-overlay .search-result .description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-overlay h3#heading {
  overflow: auto;
}

.zoom {
  background-color: green;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  transform-origin: 5% 50%;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform-origin: 5% 50%;
 /* z-index: 2; */
}

.search-overlay .search-result:hover .description{
  white-space: unset;
  text-overflow: unset;
  overflow:unset;
}

.search-result img {
  width: 96px;
}

.search-footer p {
  text-align: center;
}

.search-results button {
   border-radius: 5px;
}

.search-footer button {
   border-radius: 5px;
}

.search-box,.search-wrapper {
  padding: 6px 10px;
  margin: 8px 0px 8px 8px;
}

.search-wrapper {
	width: 500px;
	margin: auto;
	margin-top: 50px;
}

#search_form_input {
/*	width: 80%; */
/*	border: 1px solid #ccc; */
  outline: 0;
	box-shadow: none;
 /* border-radius: 15px;*/
}

#search_form_input:focus {
/*
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
	outline: none;
*/
}

.close-icon {
  position: relative;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  padding: 0 !important;
  margin: 0 !important;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
/*	z-index:1; */
	right: 5px;
	top: -6px;
	bottom: 0;
	margin: auto;
	padding: 0px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}

#search_form_input:not(:valid) ~ .close-icon {
	display: none;
}

/*
.search-result  h3,
.search-result  p {
    margin-right: 15px;
    display: block;
    margin: 0 2px 0 0;
}
*/
