.zoom {
  background-color: green;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  transform-origin: 5% 50%;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform-origin: 5% 50%;
 /* z-index: 2; */
}

#mapcore_search_results_list {
  margin: 5px;
}

#mapcore_search_results_container {
  z-index:101;
  position: relative;
  width: 400px;
  transition-property: -webkit-transform,transform,opacity;
  transition-duration: 0.2s;
  transition-timing-function:cubic-bezier(0.0,0.0,0.2,1);
}

.mapcore-search-header {
  margin: 0 5px;
  padding: 8px;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: #f6faff;
  font-size: 1.3em;
  color: rgb(93, 5, 171);
}

.mapcore-search-footer {
  position: absolute;
  margin: 0 5px;
  /* padding: 8px; */
  bottom: 3px;
  right: 0;
  left: 0;
}

.mapcore-search-footer p {
  text-align: center;
}

.mapcore-search-results button {
   border-radius: 5px;
   display: inline-flex;
   align-items: center;
}

.mapcore-float-right {
  float: right;
}

.mapcore-search-footer button {
   border-radius: 5px;
}

.mapcore-search-footer #mapcore_next_page {
  margin-left: 2px;
}

.mapcore-search-footer #mapcore_prev_page {
  margin-right: 2px;
}

.mapcore-search-footer-container {
  position: relative;
  background-color: #f6faff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top: none;
  background: #f6faff;
  margin: 2px 0;
  padding: 3px;
  float: left;
  width: calc(100% - 8px);
}

.mapcore-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.zero-width {
  width: 0
}

#mapcore_search_header_clear:hover {
  color: #8300BF;
  cursor: pointer;
}

.mapcore-footer-right-arrow {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><title>sparc-right-arrow</title><circle cx="64" cy="64" r="64" style="fill:%23fff"/><path d="M47.5,86.5" transform="translate(-22 -21)" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:15px"/><path d="M129.5,115.5" transform="translate(-22 -21)" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:15px"/><line x1="25.5" y1="36" x2="105" y2="64" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:16px"/><line x1="25.5" y1="92" x2="105" y2="64" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:16px"/></svg>');
}

.mapcore-footer-left-arrow {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><title>sparc-left-arrow</title><circle cx="64" cy="64" r="64" style="fill:%23fff"/><line x1="105" y1="36" x2="25.5" y2="64" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:16px"/><path d="M47.5,86.5" transform="translate(-22 -21)" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:15px"/><path d="M129.5,115.5" transform="translate(-22 -21)" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:15px"/><line x1="105" y1="92" x2="25.5" y2="64" style="fill:none;stroke:%23666;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:16px"/></svg>');
}

.mapcore-footer-icon {
  display: inline-block;
  margin-top: 6px;
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
}

.mapcore-footer-icon:hover {
  cursor: pointer;
}

.mapcore-search-footer button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.container-collapsed-mode {
  box-shadow: none;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mapcore_search_results_toggle_container {
  position:absolute;
  left:100%;
  height:48px;
  width:23px;
  top:200px;
  cursor:pointer;
  background: #f7faff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.mapcore_search_results_button {
  position:absolute;
  top:14px;
  left:7px;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid #909399;
}

.container-collapsed-mode .mapcore_search_results_button {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
