

.mapcore-search-field-container {
  display: inline-block;
  position: relative;
  width:500px;
}

.mapcore-search-button-container {
  display: inline-block;
}

.mapcore-search-button:hover {
  background-color: #cc068d;
  border-color: #cc068d;
  color: white;
}

.mapcore-search-button, .mapcore-search-button:focus {
  /* background-image: linear-gradient(to right, rgba(25,6,204), rgba(255,0,61)); */
  background-color: #b10079;
  border-color: #b10079;
  color: white;
}

.mapcore-search-elements-container {
    text-align: center;
}

.mapcore-search-form {
  margin: 2em 0;
}

/* Tooltip text */
.mapcore-no-results-tooltip {
  visibility: hidden;
  background-color: #63666a;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  top: 110%;
  left: 0%;
}

.mapcore-no-results-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #63666a transparent;
}

